<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seven.reggie.dao.DishDao">

    <update id="update">
        update dish
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="categoryId!=null and categoryId!=''">
                category_Id=#{categoryId},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="code!=null and code!=''">
                code=#{code},
            </if>
            <if test="image!=null and image!=''">
                image=#{image},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="status!=null ">
                status=#{status},
            </if>
            <if test="sort!=null ">
                sort=#{sort},
            </if>
            <if test="updateTime!=null ">
                update_Time=#{updateTime},
            </if>
            <if test="updateUser!=null ">
                update_User=#{updateUser},
            </if>
        </set>
            where id=#{id}
    </update>

    <select id="page" resultType="com.seven.reggie.entity.DishEntity">
        select * from dish
        <where>
            <if test="name!=null and name!=''">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="list" resultType="com.seven.reggie.entity.DishEntity">
        select * from dish where  category_Id=#{categoryId}
        <if test="status!=null">
           and status=#{status}
        </if>
    </select>
</mapper>